@{
    ViewBag.Title = "RazorPDF";
}

<h2>RazorPDF</h2>

This was rendered from razor at @String.Format("{0:u}", DateTime.UtcNow)

<div>Local image : <br /><img src="/Images/smiley.jpg" /> </div>
<div>URL (remote) image Calm : <br /><img src="http://www.placecage.com/300/200" /> </div>
<div style="page-break-before:always">&nbsp;</div> 
<h1>Page 2!</h1>
<div>URL (remote) image <h4>CRAZY</h4>: <br /><img src="http://www.placecage.com/c/200/300" /> </div>