@{
    ViewBag.Title = "RazorPDF";
}

<h2>RazorPDF</h2>

This was rendered from razor at @String.Format("{0:u}", DateTime.UtcNow)

<div>Local image : <br /><img src="/Images/smiley.jpg" /> </div>
<div>URL (remote) image : <br /><img src="http://www.placecage.com/c/200/300" /> </div>